<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>大连交通大学竞赛系统</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="resources/dist/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="resources/dist/js/html5shiv.min.js"></script>
    <script src="resources/dist/js/respond.min.js"></script>
    <![endif]-->
</head>
<body  style="background-image:url(resources/img/img-bg4.png);background-attachment:fixed;">


<!-- common top part start-->
<div class="container">
    <div><img src="resources/img/index-top2.jpg" height="150px" width="100%"></div>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="comNews.html">赛事公告</a></li>
                <li><a href="news.html">新闻中心</a></li>
                <li><a href="achievementShow.html">学院风采</a></li>
                <li><a href="search.html">获奖查询</a></li>
                <li><a href="aboutUs.html">关于我们</a></li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登陆用户</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a>用户身份：管理员</a></li>
                        <li class="divider"></li>
                        <li><a href="#">管理员帐号</a></li>
                        <li><a href="#">学院帐号</a></li>
                        <li><a href="#">赛事审批</a></li>
                        <li><a href="#">赛事一览</a></li>
                        <li><a href="#">新闻管理</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
<!--common top part end-->

<div class="container">
    <h2 style="text-align: center"><label class="label label-info">学院参赛风采展示</label></h2>
    <div class="jumbotron">

        <div class="row">
            <!--one item-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="max-height: 250px">
                    <a href="achievementDetail.html">
                        <img src="resources/img/img5.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <h5>大连交通大学机器人获一等奖(字数规定)</h5>
                        <h5><span class="glyphicon glyphicon-flag"> <label class="label label-success">机械学院</label></span></h5>
                        <h5><span class="glyphicon glyphicon-time"> <label class="label label-default">2014-05-24 11:00:00</label></span></h5>
                    </div>
                </div>
            </div>
            <!--one item-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="max-height: 250px">
                    <a href="achievementDetail.html">
                        <img src="resources/img/img5.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <h5>大连交通大学机器人获一等奖(字数规定)</h5>
                        <h5><span class="glyphicon glyphicon-flag"> <label class="label label-success">机械学院</label></span></h5>
                        <h5><span class="glyphicon glyphicon-time"> <label class="label label-default">2014-05-24 11:00:00</label></span></h5>
                    </div>
                </div>
            </div>
            <!--one item-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="max-height: 250px">
                    <a href="achievementDetail.html">
                        <img src="resources/img/img5.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <h5>大连交通大学机器人获一等奖(字数规定)</h5>
                        <h5><span class="glyphicon glyphicon-flag"> <label class="label label-success">机械学院</label></span></h5>
                        <h5><span class="glyphicon glyphicon-time"> <label class="label label-default">2014-05-24 11:00:00</label></span></h5>
                    </div>
                </div>
            </div>
            <!--one item-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="max-height: 250px">
                    <a href="achievementDetail.html">
                        <img src="resources/img/img5.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <h5>大连交通大学机器人获一等奖(字数规定)</h5>
                        <h5><span class="glyphicon glyphicon-flag"> <label class="label label-success">机械学院</label></span></h5>
                        <h5><span class="glyphicon glyphicon-time"> <label class="label label-default">2014-05-24 11:00:00</label></span></h5>
                    </div>
                </div>
            </div>
            <!--one item-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="max-height: 250px">
                    <a href="achievementDetail.html">
                        <img src="resources/img/img5.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <h5>大连交通大学机器人获一等奖(字数规定)</h5>
                        <h5><span class="glyphicon glyphicon-flag"> <label class="label label-success">机械学院</label></span></h5>
                        <h5><span class="glyphicon glyphicon-time"> <label class="label label-default">2014-05-24 11:00:00</label></span></h5>
                    </div>
                </div>
            </div>
            <!--one item-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="max-height: 250px">
                    <a href="achievementDetail.html">
                        <img src="resources/img/img5.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <h5>大连交通大学机器人获一等奖(字数规定)</h5>
                        <h5><span class="glyphicon glyphicon-flag"> <label class="label label-success">机械学院</label></span></h5>
                        <h5><span class="glyphicon glyphicon-time"> <label class="label label-default">2014-05-24 11:00:00</label></span></h5>
                    </div>
                </div>
            </div>
            <!--one item-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="max-height: 250px">
                    <a href="achievementDetail.html">
                        <img src="resources/img/img5.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <h5>大连交通大学机器人获一等奖(字数规定)</h5>
                        <h5><span class="glyphicon glyphicon-flag"> <label class="label label-success">机械学院</label></span></h5>
                        <h5><span class="glyphicon glyphicon-time"> <label class="label label-default">2014-05-24 11:00:00</label></span></h5>
                    </div>
                </div>
            </div>
            <!--one item-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="max-height: 250px">
                    <a href="achievementDetail.html">
                        <img src="resources/img/img5.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <h5>大连交通大学机器人获一等奖(字数规定)</h5>
                        <h5><span class="glyphicon glyphicon-flag"> <label class="label label-success">机械学院</label></span></h5>
                        <h5><span class="glyphicon glyphicon-time"> <label class="label label-default">2014-05-24 11:00:00</label></span></h5>
                    </div>
                </div>
            </div>
        </div>

        <!--footer page-->
        <div class="" style="text-align: right;font-size: 15px;">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>



<!--common bottom part start-->
<div class="container"><p></div>
<div class="container">
    <div class="" style="text-align: center">
        <h5>大连交通大学团委部</h5>
        <h6>© 2014- 大连交通大学  版权所有</h6>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="resources/dist/js/jquery-1.10.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="resources/dist/js/bootstrap.min.js"></script>
</body>
</html>