<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>大连交通大学竞赛系统</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="resources/dist/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="resources/dist/js/html5shiv.min.js"></script>
    <script src="resources/dist/js/respond.min.js"></script>
    <![endif]-->
</head>
<body  style="background-image:url(resources/img/img-bg4.png);background-attachment:fixed;">


<!-- common top part start-->
<div class="container">
    <div><img src="resources/img/index-top2.jpg" height="150px" width="100%"></div>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="comNews.html">赛事公告</a></li>
                <li><a href="news.html">新闻中心</a></li>
                <li><a href="achievementShow.html">学院风采</a></li>
                <li><a href="search.html">获奖查询</a></li>
                <li><a href="aboutUs.html">关于我们</a></li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登陆用户</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a>用户身份：管理员</a></li>
                        <li class="divider"></li>
                        <li><a href="#">管理员帐号</a></li>
                        <li><a href="#">学院帐号</a></li>
                        <li><a href="#">赛事审批</a></li>
                        <li><a href="#">赛事一览</a></li>
                        <li><a href="#">新闻管理</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
<!--common top part end-->

<div class="container">
    <div class="jumbotron">
        <h4><span class="glyphicon glyphicon-bookmark">[赛事详情] 发布时间：2014-05-24</span></h4>
        <h3 style="text-align: center"><span>全国机器人大赛</span></h3>
        <div class="my-comDetail-content">
            <img src="resources/img/robot.jpg">
            本届机器人大赛以“月球勘探”作为主题。 随着自动化时代的到来，人类的脚步已经不仅仅局限于地球。在这当中，机器人肩负着重要的使命。这是很大的挑战与机遇。旨在提高广大学生对开拓新空间，勘探新能源的兴趣。增强创新思维能力。将机器人的魅力，蔓延到各个角落。

            希望广大同学踊跃参加！
        </div>
    </div>
</div>


<!--exam appendix-->
<div class="container">
    <div class="jumbotron">
        <h4><span class="glyphicon glyphicon-download"><b>附件下载</b></span></h4>
        <div style="font-size: 15px">
            <ol>
                <li><a href="#">附件1.rar</a></li>
                <li><a href="#">附件1.rar</a></li>
                <li><a href="#">附件1.rar</a></li>
            </ol>
        </div>
    </div>
</div>

<!--exam entrance-->
<div class="container">
    <div class="jumbotron">
        <h4><span class="glyphicon glyphicon-link"><b>报名入口</b> [状态：<label style="color: green">可报名</label> / <label style="color: red">不可报名</label>]</span></h4>
        <button class="btn btn-danger btn-block" onclick="location='signUpCom.html'">报名参赛</button>
    </div>
</div>




<!--common bottom part start-->
<div class="container"><p></div>
<div class="container">
    <div class="" style="text-align: center">
        <h5>大连交通大学团委部</h5>
        <h6>© 2014- 大连交通大学  版权所有</h6>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="resources/dist/js/jquery-1.10.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="resources/dist/js/bootstrap.min.js"></script>
</body>
</html>