<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>大连交通大学竞赛系统</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="resources/dist/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="resources/dist/js/html5shiv.min.js"></script>
    <script src="resources/dist/js/respond.min.js"></script>
    <![endif]-->
</head>
<body  style="background-image:url(resources/img/img-bg4.png);background-attachment:fixed;">


<!-- common top part start-->
<div class="container">
    <div><img src="resources/img/index-top2.jpg" height="150px" width="100%"></div>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="comNews.html">赛事公告</a></li>
                <li><a href="news.html">新闻中心</a></li>
                <li><a href="achievementShow.html">学院风采</a></li>
                <li><a href="search.html">获奖查询</a></li>
                <li><a href="aboutUs.html">关于我们</a></li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登陆用户</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a>用户身份：管理员</a></li>
                        <li class="divider"></li>
                        <li><a href="#">管理员帐号</a></li>
                        <li><a href="#">学院帐号</a></li>
                        <li><a href="#">赛事审批</a></li>
                        <li><a href="#">赛事一览</a></li>
                        <li><a href="#">新闻管理</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
<!--common top part end-->


<div class="container">
    <h2 class="col-sm-offset-6"><label class="label label-info">竞赛获奖查询</label></h2>
    <div class="jumbotron">
        <div>

            <p>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="check_name" class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="check_name" placeholder="参赛姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="check_number" class="col-sm-2 control-label">学号</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="check_number" placeholder="参赛学号">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-danger btn-block" onclick="location='searchResult.html'">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





<!--common bottom part start-->
<div class="container"><p></div>
<div class="container">
    <div class="" style="text-align: center">
        <h5>大连交通大学团委部</h5>
        <h6>© 2014- 大连交通大学  版权所有</h6>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="resources/dist/js/jquery-1.10.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="resources/dist/js/bootstrap.min.js"></script>
</body>
</html>