<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>大连交通大学竞赛系统</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="resources/dist/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="resources/dist/js/html5shiv.min.js"></script>
    <script src="resources/dist/js/respond.min.js"></script>
    <![endif]-->
</head>
<body  style="background-image:url(resources/img/img-bg4.png);background-attachment:fixed;">


<!-- common top part start-->
<div class="container">
    <div><img src="resources/img/index-top2.jpg" height="150px" width="100%"></div>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="comNews.html">赛事公告</a></li>
                <li><a href="news.html">新闻中心</a></li>
                <li><a href="achievementShow.html">学院风采</a></li>
                <li><a href="search.html">获奖查询</a></li>
                <li><a href="aboutUs.html">关于我们</a></li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登陆用户</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a>用户身份：管理员</a></li>
                        <li class="divider"></li>
                        <li><a href="#">管理员帐号</a></li>
                        <li><a href="#">学院帐号</a></li>
                        <li><a href="#">赛事审批</a></li>
                        <li><a href="#">赛事一览</a></li>
                        <li><a href="#">新闻管理</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
<!--common top part end-->

<!--competition introduction-->
<div class="container">
    <h2 style="text-align: center"><label class="label label-info">竞赛报名</label></h2>
    <div class="jumbotron sr-only">
        <div>
            <h4><span class="glyphicon glyphicon-list-alt">赛事简介</span></h4>
            <table class="table table-bordered table-responsive table-hover" style="text-align: center;font-size: 15px;">
                <tr  class="alert-danger">
                    <td>名称</td>
                    <td>全国机器人比赛</td>
                </tr>
                <tr  class="alert-info">
                    <td>主办单位</td>
                    <td>国家工信部</td>
                </tr>
                <tr  class="alert-danger">
                    <td>赛事等级</td>
                    <td>国家级A</td>
                </tr>
                <tr  class="alert-info">
                    <td>比赛地点</td>
                    <td>大连理工大学</td>
                </tr>
                <tr  class="alert-danger">
                    <td>比赛时间</td>
                    <td>2014-05-30</td>
                </tr>
                <tr  class="alert-info">
                    <td>报名时间</td>
                    <td>2014--05-27 至 2014-05-30</td>
                </tr>
            </table>
        </div>
    </div>
</div>




<!--sign up here-->
<div class="container">
    <!--com remark-->
    <div class="alert alert-danger">
        <div>
            <h4><span class="glyphicon glyphicon-registration-mark">参赛说明：</span></h4>
            <div>本次比赛可以获得国家级荣誉同时也可以获得一级校级荣誉</div>
        </div>
    </div>

    <div>
        <h2><label class="label label-danger"><span class="glyphicon glyphicon-log-in">报名入口</span></label></h2>
        <div>
            <h4><label class="label label-primary">参赛形式：小组赛 (组员由组长添加)</label></h4>
            <div class="alert alert-info">
                <h5><b>组长</b> ： 钟宏远</h5>
                <h5><b>学号</b> ： 1018160000</h5>
                <h5><b>学院专业</b> ： 机械学院 软件工程</h5>
                <div>

                </div>
            </div>



            <form class="form-inline" role="form">
                <!--组长资料-->
                <h4><label class="label label-primary">（组长）个人信息</label></h4>
                <div class="alert alert-info">
                    <div class="form-group"  title="必须提供有效邮箱">
                        <label for="email">邮箱</label>
                        <input type="text" class="form-control" id="email" placeholder="邮箱">
                    </div>
                    <div class="form-group" title="必须提供有效联系方式">
                        <label for="cellphone">联系电话</label>
                        <input type="text" class="form-control" id="cellphone" placeholder="联系电话">
                    </div>
                    <div class="form-group" title="有效卡号，用于获奖后的奖金发放">
                        <label for="cellphone">银行卡号</label>
                        <input type="text" class="form-control" id="creditCard" placeholder="银行卡号">
                    </div>
                    <div class="form-group" title="有过教学处分的同学勾选">
                        <label for="cellphone">教学帮助</label>
                        <label class="form-control">
                            <input type="checkbox">是否有消除处分奖励
                        </label>
                    </div>
                </div>

                <!--组员名单-->
                <h4><label class="label label-primary">组员名单</label> <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal">添加组员</button></h4>
                <div class="alert alert-info" style="font-size: 12px;">
                    <div class="panel panel-default">
                        <table class="table table-bordered">
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>学号</th>
                                <th>联系方式</th>
                                <th>是否消除处分</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>周荣辉</td>
                                <td>1018160222</td>
                                <td>18640886602</td>
                                <td style="color: red">是</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <h4><label class="label label-primary">作品信息</label></h4>
                <div class="alert alert-info">
                    <div class="form-group">
                        <label for="worksName">作品名称</label>
                        <input type="text" class="form-control" id="worksName" placeholder="作品名称">
                    </div>
                    <div class="form-group">
                        <label for="worksGuider">指导老师</label>
                        <input type="text" class="form-control" id="worksGuider" placeholder="指导老师">
                    </div>
                    <div class="form-group">
                        <label for="worksRemark">备注说明</label>
                        <input type="text" class="form-control" id="worksRemark" placeholder="备注说明">
                    </div>
                </div>
                <h4><label class="label label-primary">参赛作品上传</label></h4>
                <div class="alert alert-info">
                    <div class="panel panel-default">
                        <h5><label class="label label-warning">附件上传说明</label></h5>
                        <div class="panel-body">
                            附件上传说明是这样的
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">选择文件</label>
                        <input type="file" id="exampleInputFile">
                    </div>
                </div>




                <!--submit-->
                <div>
                    <button class="btn btn-danger btn-block">确认报名</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--competition-->
<div class="container">

</div>



<!--Modal sr-only-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加组员</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form">
                    <h4><label class="label label-primary">新组员信息</label></h4>
                    <div class="alert alert-info">
                        <div class="form-group"  title="姓名">
                            <label for="memberName">姓名</label>
                            <input type="text" class="form-control" id="memberName" placeholder="姓名">
                        </div>
                        <div class="form-group"  title="学号">
                            <label for="memberNo">学号</label>
                            <input type="text" class="form-control" id="memberNo" placeholder="学号">
                        </div>
                        <div class="form-group"  title="必须提供有效邮箱">
                            <label for="memberEmail">邮箱</label>
                            <input type="text" class="form-control" id="memberEmail" placeholder="邮箱">
                        </div>
                        <div class="form-group" title="必须提供有效联系方式">
                            <label for="memberCellphone">联系电话</label>
                            <input type="text" class="form-control" id="memberCellphone" placeholder="联系电话">
                        </div>
                        <div class="form-group" title="有过教学处分的同学勾选">
                            <label for="cellphone">教学帮助</label>
                            <label class="form-control">
                                <input type="checkbox">是否有消除处分奖励
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--common bottom part start-->
<div class="container"><p></div>
<div class="container">
    <div class="" style="text-align: center">
        <h5>大连交通大学团委部</h5>
        <h6>© 2014- 大连交通大学  版权所有</h6>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="resources/dist/js/jquery-1.10.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="resources/dist/js/bootstrap.min.js"></script>
</body>
</html>